@import "tailwindcss";
@plugin "daisyui"{
themes : light --default, dark cupcake;
};
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #8249EB;
  --color-secondary: teal;
}

.nav-link:hover{
    color : #8249EB
}
.nav-link.active{
    color: #8249EB;
    border-bottom: 3px solid #8249EB;
}